@page "/DetailsOrder/{OrderId:int}"
@using FirstCall.Shared.Constants.Clients
@using FirstCall.Shared.Constants.Orders
@inject Microsoft.Extensions.Localization.IStringLocalizer<AddEditDeliveryOrder> _localizer


<MudExpansionPanels MultiExpansion="true">
    <MudExpansionPanel Text=@_localizer["Product Details"]
                       Class="mt-6"
                       Style="background-color:lavender">

        @if (_Orders != null)
        {
            <MudGrid>
                <MudItem xs="12" sm="12" md="12">
                    <EditForm Model="@_Orders">
                        <FluentValidationValidator @ref="_fluentValidationValidator" />

                        <MudCard Elevation="4">
                            <MudCardContent>
                                <MudGrid>
                                    <!-- رقم الطلب -->
                                    <MudItem xs="12" md="12">
                                        <MudCard Elevation="2" Class="mb-4 pa-2">
                                            <MudCardContent>
                                                <MudText Typo="Typo.h6" Align="Align.Center" Color="Color.Primary">
                                                    @_localizer["OrderNumber"] : @_Orders.OrderNumber
                                                </MudText>
                                            </MudCardContent>
                                        </MudCard>
                                    </MudItem>

                                    <!-- المنتجات -->
                                    <MudGrid>
                                        @if (_Orders.Products != null && _Orders.Products.Any())
                                        {
                                            @foreach (var item in _Orders.Products)
                                            {
                                                <MudItem xs="12" sm="6" md="4">
                                                    <MudCard Class="pa-4" Style="background-color:#f9f9f9; border:1px solid #ccc;">
                                                        <MudCardContent>


                                                            <!-- صورة المنتج -->
                                                            <img src="@item.ImageUrl" style="width:100%; height: 400px; object-fit:contain; margin-bottom:10px;" />


                                                            <p>
                                                                <MudIcon Icon="@Icons.Material.Filled.ShoppingCart" Color="Color.Info" />
                                                                <b>@_localizer["Quantity"]:</b> @item.Quantity
                                                            </p>

                                                            <p>
                                                                <MudIcon Icon="@Icons.Material.Filled.AttachMoney" Color="Color.Success" />
                                                                <b>@_localizer["Price"]:</b> @item.UnitPrice.ToString("N2")
                                                            </p>

                                                            <p>
                                                                <MudIcon Icon="@Icons.Material.Filled.Calculate" Color="Color.Warning" />
                                                                <b>@_localizer["Total"]:</b> @item.TotalPrice.ToString("N2")
                                                            </p>
                                                        </MudCardContent>
                                                    </MudCard>
                                                </MudItem>
                                            }
                                        }
                                        else
                                        {
                                            <MudText Color="Color.Error">@_localizer["No products found."]</MudText>
                                        }
                                    </MudGrid>

                                    <!-- الإجمالي الكلي -->
                                    <MudItem xs="12">
                                        <MudCard Class="pa-4 mt-4" Style="background-color:#eee;">
                                            <MudCardContent>
                                                <MudText Typo="Typo.h5" Align="Align.Right" Color="Color.Secondary">
                                                    @_localizer["Grand Total"] :
                                                    @((_Orders?.Products?.Sum(x => x.TotalPrice) ?? 0m).ToString("N2"))
                                                </MudText>
                                            </MudCardContent>
                                        </MudCard>
                                    </MudItem>

                                </MudGrid>
                            </MudCardContent>
                        </MudCard>
                    </EditForm>
                </MudItem>
            </MudGrid>
        }
        else
        {
            <MudText Color="Color.Error">@_localizer["Order not loaded"]</MudText>
        }

    </MudExpansionPanel>
</MudExpansionPanels>


<br />

 <MudItem xs="12" sm="12" md="12">
            <MudCard Elevation="4" Class="m-4">
                <MudCardActions Class="d-flex justify-end flex-grow-1 gap-4 mr-2">
            <MudButton DisableElevation Variant="Variant.Filled" OnClick="@(() => _navigationManager.NavigateTo("/HomeDeliveryOrders"))">@_localizer["Cancel"]</MudButton>

               </MudCardActions>
            </MudCard>
        </MudItem>





