@inject Microsoft.Extensions.Localization.IStringLocalizer<AddEditBrandModal> _localizer

<EditForm Model="@AddEditBrandModel" OnValidSubmit="SaveAsync" dir="@direction">
    <FluentValidationValidator @ref="_fluentValidationValidator" />
    <MudDialog>
        <TitleContent>
            @{
                if (AddEditBrandModel.Id == 0)
                {
                    <MudText Typo="Typo.h6">
                        <MudIcon Icon="@Icons.Material.Filled.Add" Class="mr-3 mb-n1" />
                        @_localizer["Add Brand"]
                    </MudText>
                }
                else
                {
                    <MudText Typo="Typo.h6">
                        <MudIcon Icon="@Icons.Material.Filled.Update" Class="mr-3 mb-n1" />
                        @_localizer["Update Brand"]
                    </MudText>
                }
            }
        </TitleContent>
        <DialogContent>
            <MudGrid>
                @if (AddEditBrandModel.Id != 0)
                {
                    <MudItem xs="12" md="6">
                        <MudTextField Disabled For="@(() => AddEditBrandModel.Id)" @bind-Value="AddEditBrandModel.Id" Label="@_localizer["Id"]" />
                    </MudItem>
                }
                <MudItem xs="12" md="6">
                    <MudTextField T="string" For="@(() => AddEditBrandModel.Name)" @bind-Value="AddEditBrandModel.Name" Label="@_localizer["Name"]" />
                </MudItem>
                <MudItem xs="12" md="6">
                    <MudTextField For="@(() => AddEditBrandModel.NameEn)" @bind-Value="AddEditBrandModel.NameEn" Label="@_localizer["NameEn"]" />
                </MudItem>









                <MudItem xs="12" md="6">
                    <MudItem>
                        <MudAvatar Image="@(AddEditBrandModel.ImageDataURL)" Square="true" Style="height: auto; width: auto; max-height: 100%"> </MudAvatar>
                    </MudItem>
                    <MudItem>
                        <InputFile id="fileInput" hidden OnChange="UploadFiles" />
                        <div>
                            <MudButton HtmlTag="label"
                                       Variant="Variant.Text"
                                       Color="Color.Primary"
                                       Size="Size.Small"
                                       StartIcon="@Icons.Filled.CloudUpload"
                                       for="fileInput">
                                @_localizer["Upload"]
                            </MudButton>
                            @if (!string.IsNullOrEmpty(AddEditBrandModel.ImageDataURL))
                            {
                                <MudButton Variant="Variant.Text"
                                           Color="Color.Info"
                                           StartIcon="@Icons.Filled.RemoveRedEye"
                                           Size="Size.Small"
                                           Link="@(AddEditBrandModel.ImageDataURL)" Target="_blank">
                                    @_localizer["View"]
                                </MudButton>
                                <MudButton Variant="Variant.Text"
                                           Color="Color.Error"
                                           StartIcon="@Icons.Filled.Delete"
                                           Size="Size.Small"
                                           OnClick="DeleteAsync">
                                    @_localizer["Delete"]
                                </MudButton>
                            }
                        </div>
                    </MudItem>
                </MudItem>
            </MudGrid>
        </DialogContent>
        <DialogActions>
            <MudButton DisableElevation Variant="Variant.Filled" OnClick="Cancel">@_localizer["Cancel"]</MudButton>
            @if (AddEditBrandModel.Id != 0)
            {
                <LoadingButton IsProcessing="@isProcessing" ButtonText="@_localizer["Update"]" DisableElevation Variant="Variant.Filled" ButtonType="ButtonType.Submit" Disabled="@(!Validated)" Color="Color.Secondary"></LoadingButton>
            }
            else
            {
                <LoadingButton IsProcessing="@isProcessing" ButtonText="@_localizer["Save"]" DisableElevation Variant="Variant.Filled" ButtonType="ButtonType.Submit" Disabled="@(!Validated)" Color="Color.Success"></LoadingButton>
            }
        </DialogActions>
    </MudDialog>
</EditForm>